@charset "utf-8";
*{
margin:0;
padding:0;
font-family: sans-serif;
}
body{
      background-image:url("BackgroundH2.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}
#Container{
width:1200px;
height: auto;
border:1px solid grey;
}
#UpperHeader{
	width:1200px;
	height:50px;
	background-color:firebrick;
	border-radius:10px 10px 0 0;
}
#UpperHeader h1{
    color:floralwhite;
}
#Header{
height:200px;
width:1200px;
background-image:url("HeaderContact.jpg");
background-repeat:no=repeat;
background-size:100%;
border:1px solid grey;
}
#Header h1{
    margin-right: 50px;
    margin-top: 53px;
    float:right;
    color:floralwhite;
    text-decoration: underline;
    
}
#Header img{
  float:left;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 25px;
    width : 150px;
	height : 150px;
}
#UpperContent{
height:150px;
width:1200px;
border:1px solid grey;
border-radius:8px;
background-image: url(UpperContDev.png);
background-size: 100%;
background-repeat: no-repeat;
}
#UpperContent h1{
text-align: justify;
margin-top: 50px;
margin-left: 30px;
margin-right: 30px;
color:floralwhite;
}
#Navigation{
    width:1200px;
}
#Navigation nav ul{
	list-style:none;
	}
#Navigation nav ul li a{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	display:block;
	width:380px;
	text-decoration:none;
	color:floralwhite;
	padding:10px;
	background-color:#000;
	float:left;
}
#Navigation nav ul li a:hover{
    background-color:#900;
}
.ThickLine{
    border-radius: 10px;
    width:1200px;
    height:50px;
    border:1px dotted grey;
    background-color:firebrick;
}
#Content{
border-radius: 10px;
height:auto;
width:1200px;
border:1px solid grey;
}

#ContentCenter{
    background-image:url(BackgroundH2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    float:center;
    width:1200px;
    height:auto;
    border:1px dotted grey;
}
#ContentCenter h1{
    color:floralwhite;
    font-family: sans-serif;
}
#ContentCenter h2{
    color:floralwhite;
    font-family: sans-serif;
}
#ContentCenter ul li{
    list-style: none;
}
#ContentCenter iframe{
    width:1200px;
    height:485px;
    border-radius: 8px;
}